<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="MyCRMServer" connectionString="AuthType=OAuth;Username=mikheev.andrew@seventuds.onmicrosoft.com;Password=Password;Url=https://seventuds.crm.dynamics.com;AppId=6429d116-cdcd-4f99-a76e-f54711cf5d8a;RedirectUri=https://localhost;LoginPrompt=Auto"/>
	</connectionStrings>
</configuration>